@using TransportationEntity
@model TransportationEntity.Nakliye
@{
    ViewData["Title"] = "Create";
}

<h1>Nakliye Yeni Kayit</h1>
<hr/>
<div class="row">
<div class="col-md-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
           
            public string? MusteriDegerlendirmeleri { get; set; }

            public string? Aciklama { get; set; }

            <label asp-for="NakliyeYapildimi" class="control-label"></label>
            <input asp-for="NakliyeYapildimi" class="form-control"/>
            <span asp-validation-for="NakliyeYapildimi"class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MusteriDegerlendirmeleri" class="control-label"></label>
            <input asp-for="MusteriDegerlendirmeleri" class="form-control" />
            <span asp-validation-for="MusteriDegerlendirmeleri" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Aciklama" class="control-label"></label>
            <input asp-for="Aciklama" class="form-control" />
            <span asp-validation-for="Aciklama" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
    </div>
 </div>

 <div>
     <a asp-action="Index">Back to List</a>
 </div>   

 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }

 


