@model IEnumerable<MyUser>
<a asp-action="Create" asp-controller="User" class="btn btn-primary">Yeni Kullanici Ekle</a>
<table>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.TCNo</td>
                <a asp-action="Update" asp-controller="User" class="btn btn-info" asp-route-id="@user.Id">Guncelle</a>
                <a asp-action="Delete" asp-controller="User" class="btn btn-danger">Sil</a>
            </tr>
        }
    </tbody>
</table>