@model NakliyeCreateDTO
@{
    ViewData["Title"] = "Yeni Nakliye Olustur";
}

<h2>@ViewData["Title"]</h2>
<body>

<div class="w3-container">
    
    <div class="w3-card w3-dark-grey" style="width:50%">
        <div class="w3-container w3-center">
            <h3>Nakliye Kayidi Olustur</h3>
            <img src="~/assets/img/Nakliye/NakliyeOlustur.png" alt="Resim", style="width:80%"/>
            <h5>Yeni Kayit</h5>
            <div class="w3-section">
                <button class="w3-button w3-green">Olustur</button>
                <button class="w3-button w3-red">Iptal</button>
            </div>
            
        </div>
    
    </div>

</div>
</body>