@model Nakliye;
@{
    ViewData["Title"] = "Nakliye Kayit Guncelle";
}

<h3>@ViewData["Title"]</h3><hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TalepGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NakliyeId"/>
            <div class="form-group">
                <label asp-for="NakliyeYapildimi" class="control-label"></label>
                <select class="form-select" aria-label="Default select example">
                        <option selected="selected" value="0">False</option>
                        <option value="1">True</option>
                </select>
                <span asp-validation-for="NakliyeYapildimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusteriDegerlendirmeleri" class="control-label"></label>
                <input asp-for="MusteriDegerlendirmeleri" class="form-control" />
                <span asp-validation-for="MusteriDegerlendirmeleri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TalepTarihi" class="control-label"></label>
                <input asp-for="TalepTarihi" class="form-control" />
                <span asp-validation-for="TalepTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AracId" class="control-label"></label>
                <input asp-for="AracId" class="form-control"/>
                <span asp-validation-for="AracId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RezervasyonId" class="control-label"></label>
                <input asp-for="RezervasyonId" class="form-control" />
                <span asp-validation-for="RezervasyonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Nakliye kayitlarina don</a>
</div>

